



.allcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: auto;
    border-radius: 20px;
    background: white;
    margin-bottom: 30px;
    margin-left: 200px;
    
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
   
}

.allcard:hover {
    border: #c5c6d0 0.2em solid;
}

.buttons {
  
    width: 700px;
   
    
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}

.cardhead {
    
    width: 700px;
    height: auto;
    

    background-color: #333;
    border-radius: 20px;
    color:#fff;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
  
    
}

.catmain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.details .desc{
    color:white;
    
}

.buttons .btns{
    font-size: 30px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
    color: black;
}

.buttons .btns:hover{
    background-color: grey ;
}

.buttons  .like:hover{
    color: rgb(3, 205, 3);
}
.buttons .dislike:hover{
    color: red;
    
}
.buttons .folder:hover{
    color: rgb(28, 107, 243);
    
}

.details{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    gap: 15px;
    text-align: center;
}



.details span .desc {
   
    color: red;
    
}

.descr{
    color: black;
}

